@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  display: block;
  margin: auto;
  animation: logo-slide-across 10s ease-in-out;
}

html, body {
  overflow-x: hidden; 
}

.logo img {
  height: 100%;
  object-fit:contain;
}

.logo.react {
  filter: drop-shadow(0 0 2em #61dafb);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes logo-slide-across {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100vw);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} 

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.app-header {
  display: -webkit-inline-box;
  background-color: #f7f0f085;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  opacity: 100%;

}
.tabs {
  border-bottom-color: transparent;
  text-align: right;
  padding: 1em;
  cursor: pointer;
  gap: 5rem;
  z-index: -100;
}

.dropdown-menu {
  position: fixed;
  display: flex;
  gap : 0.1rem;
  flex-direction: column;
  align-items: baseline;
  background-color: rgba(255, 160, 17, 0.87);
  transition: filter 300ms;
  padding: 0.5em;
  border-radius: 0.5rem;
  border-bottom: 1px solid #1a1a1a;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.tabs-container {
  position: relative;
  display: flex;
  gap: 7rem;
  transition: gap 300ms;
  max-width: 1280px;
  margin: 0 auto;
  align-items: stretch;
}
.logo-sharadha {
  position: relative;
  height: 6em;
  display: flex;
  gap: 0rem;
  transition: filter 300ms;
  justify-content: left;
}
/*Add the pagetitle according to the size of the screen */
.pagetitle {
  position: relative;
  height: 1em;
  padding: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item {
  cursor: pointer;
  align-items: center;
  padding: 0.5rem;
  text-align:center;
  font-style: normal;
  transition: background-color 300ms ease-in-out;
  background-color: transparent;
  &:hover {
    background-color: #f9f9f9;
  }
  &:active {
    background-color: #f1f1f1;
  }
  @media (prefers-color-scheme: dark) {
    color: #000000;
  }
  @media (prefers-color-scheme: light) {
    color: #010101;
  }
  
}

/* Add this media query at the end of the file */


.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f985;
  padding: 1rem;
  object-fit: cover;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  z-index: 100;
  transition: background-color 300ms ease-in-out;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 500px; /* This defines the height of the band */
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: -1000;
}

.carousel-track {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  /*transition: transform 7s ease-in-out;*/
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  z-index: -1000;

}

.carousel-slide {
  /* Shrink the images to fit the band height */
  flex-grow: 0;
  flex-shrink: 10;
  height: 100%;
  width: 100%;
  flex-shrink: 10;
}

/* Add this below the carousal container */


.about-section {
  padding: 20px;
  display: block;
}

.about-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
}


.carousel-image {
  width: 50%;
  height: 100%;
  object-fit: contain;
  transition: filter 300ms;
  align-items: auto;
  justify-content: auto;
}

.nav-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}

.nav-dot {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background-color: gray;
  border: none;
  cursor: pointer;
}

.nav-dot.active {
  background-color: rgb(144, 141, 141);
}

.nav-button {
  position: absolute;
  top: 50%;
  color: rgb(131, 128, 128);
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.nav-button.left {
  left: 1rem;
}

.nav-button.right {
  right: 1rem;
}
.scroll-bar{
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: gray;
  transition: width 300ms;
}

.scroll-bar.active {
  width: 100%;
}

.social-media-icons {
  width: 10%;
  height: 10%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  display: flex;
}
.about-text{
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1rem;
  }

  @media (max-width: 900px) {
    .app-header {
      flex-direction: row;
    }

    .tabs-container {
      display: inline-flex;
      gap: 3rem;
      width: 100%;
      height: 100%;
    }
    
    .logo-sharadha {
      height: 4em;
    }
    
    h1 {
      font-size: 1.0em; /* Adjust title font size */
    }
  
    .pagetitle {
      justify-content: left;
      text-align: left;
      width: 100%;
    }
    .carousel-container {
      height: 300px; /* Adjust carousel height for smaller screens */
    }

    .carousel-image {
      width: 100%; /* Make images take full width of the container */
    }

    .about-text {
      font-size: 1em; /* Adjust font size for better readability */
    }

    .tabs {
      list-style: none;
      line-break: auto;
      border-bottom: 1px solid transparent;
      font-size: xx-small;
      transition: border-bottom-color 0.25s;
    }
    .tabs:hover {
      border-bottom-color: #646cff;
    }
    
    .dropdown-menu {
      display: baseline; /* Hide by default */
      position: absolute;
      flex-direction: column;
      background-color: rgba(255, 160, 17, 0.87);
      border: 1px solid #1a1a1a;
      border-radius: 8px;
      margin-top: 5px;
    }
    .dropdown-content {
      display: flex;
      flex-direction: column;
      padding: 0.5em;
    }
    .dropdown-menu.show{
      display:flex;
    }
    
    .dropdown-item {
      padding: 0.5em;
      cursor: pointer;
    }
    .dropdown {
      position: absolute;
    }

    .social-media-icons {
      width: 100%;
      height: 100%;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    
    
  }
  .audio-container {
    flex-direction: column;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .audio-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Styles for FullCalendar event content */
.fc-event-main {
  white-space: normal; /* Allow text to wrap */
  overflow: hidden;    /* Hide overflow */
  font-size: 0.85em;   /* Adjust font size to fit more text */
  line-height: 1.3;    /* Adjust line height for wrapped text */
  color: black;        /* Ensure event text is readable */
}

.payment-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.payment-section {
  width: 100%;
  height: 100px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid gray;
  padding: 10px;
  box-sizing: border-box;
}

.payment-form {
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  overflow: hidden;
  border: 1px solid gray;
  padding: 10px;
  height: 200%;
}

.qr-code-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.qr-code-section {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid gray;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.moving-text {
  position: relative;
  animation: text-move 100s infinite normal;
  animation-fill-mode: forwards;
  white-space: nowrap;
  width: 200%;
  display: flex;
  flex-wrap: wrap;
  font-size: large;
}

@keyframes text-move {
  0% {
    transform: translateX(200vw);
  }
  100% {
    transform: translateX(-200vw);
  }
}

.puja-header {
  border-color: #000000;


}
.puja-table {
  background-color: darkkhaki;   
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.puja-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}
.puja-table, th, td {
  border: 1px solid gold;
  padding: 1vw;
}
.puja-tbody{
  border: #000000;


}