:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 160, 17, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto; /* Enables vertical scroll */
  scroll-behavior: smooth; /* Smooth scrolling */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #e2a042;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.tabs {
  border-bottom: 4px solid transparent;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: border-bottom-color 0.25s;
}
.tabs:hover {
  border-bottom-color: #646cff;
}

.dropdown-menu {
  display: none; /* Hide by default */
  position: absolute;
  flex-direction: column;
  background-color: #242424;
  border: 1px solid #1a1a1a;
  border-radius: 8px;
  margin-top: 5px;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.dropdown-menu.show{
  display:flex;
}

.dropdown-item {
  padding: 0.5em;
  cursor: pointer;
}
.dropdown {
  position: absolute;
  ;
}
